.footer {
    padding: 80px 80px 150px 100px;
    background: #f4f4f4;
    background-size: cover;
    text-align: left;
}

.footer h3 {
    color: #121212;
    font-size: 1rem;
    line-height: 1.1;
    margin: 0 0 .45em;
}

.footer .footer-text {
    padding-left: 40px;
}

.footer ul li {
    list-style-type: none;
    margin: 0;
}

.footer ul li a {
    color: #777777;
    font-size: .874em;
    display: inline-block;
    padding-right: .3em;
    padding-bottom: 1.5px;
    background-color: transparent;
}

.footer ul li a:hover {
    text-decoration: none;
    color: #337ab7;
    border-bottom: 1px solid #918d8d;

}

.social-media-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-media-link {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #e1e1e1;
    border-radius: 50%;
    color: #757575;
    font-size: 18px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.social-media-link>i {
    z-index: 1;
}

.social-media-link:before {
    width: 60px;
    height: 40px;
    border-radius: 4px;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.social-media-link:hover,
.social-media-link:active,
.social-media-link:focus {
    background: #fe6f2f;
    color: #fff;
    text-decoration: none;
}

.social-media-link:hover:before,
.social-media-link:active:before,
.social-media-link:focus:before {
    background-position: top right;
}

.social-media-link+.social-media-link {
    margin-left: 4px;
}

.footer .disclosure {
    float: left;
    font-family: "Benton Sans Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #666;
    line-height: 1.55;

}

@media(max-width: 767px) {
    .footer {
        padding: 40px 35px 60px 0;
        text-align: center;
    }
}